$address-color: #737373;
$pill-background: #11b982;
$pill-text: #ffffff;

.parking-detail {
    width: 80%;
    text-align: center;

    & .parking-info {
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 20px;

        & .address {
            color: $address-color;
        }

        & span {
            border: 1px solid black;
            padding: 0.25rem 1.25rem;
            border-radius: 20px;
        }
    }

    & .spots-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;

        & span {
            padding: 0.25rem 1.25rem;
            border-radius: 20px;
            background-color: $pill-background;
            color: $pill-text;
        }
    }

    & .spots {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 10px;
    }

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;

        & .parking-info {
            flex-direction: column;
            gap: 10px;
        }

        & .spots-info {
            flex-direction: column;
            gap: 10px;
        }
    }
}