$border-color: #8a8a8a;
$spinner-background: #e0e0e0;
$spinner-color: #4e73df;

.reservation-main {
    width: 90%;
    margin-inline: auto;

    & .query-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        & .spinner {
            width: 32px;
            height: 32px;
            border: 4px solid $spinner-background;
            border-top: 4px solid $spinner-color;
            border-radius: 50%;
            animation: spin 0.8s linear infinite;
        }

        @keyframes spin {
            to {
                transform: rotate(360deg);
            }
        }
    }

    & .reservation-content {
        height: 60vh;
        display: flex;
        border: 1px solid $border-color;
        border-radius: 10px;
        margin-bottom: 25px;

        & section {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-block: 25px;
        }

    }

    @media (max-width: 768px) {
        & .reservation-content {
            flex-direction: column-reverse;
            height: auto;
            width: 100%;

            & section {
                width: 100%;
            }
        }
    }
}