$title-color: #1a1a1a;
$description-color: #8a8a8a;

.page-title {
    padding-block: 2rem;

    & .title {
        color: $title-color;
        margin-bottom: .5rem;
        line-height: 1.25;
    }

    & .description {
        color: $description-color;
        text-wrap: pretty;
    }
}